<!DOCTYPE html>
<html>
<head>
    <title>AMAGAMI YOUTUBE</title>
  <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
<script>
  function addDarkmodeWidget() {
    new Darkmode().showWidget();
  }
  window.addEventListener('load', addDarkmodeWidget);
</script>
</head>
<body>
    <font color="white">
        <body style="background: url(https://megido72-portal.com/img/wallpaper/megido_background07_1920x1080.png) fixed;">
    処理中…<br>
    少々お待ちください<br>
    <a href="https:/night-sugar.onrender.com" target="_self">Home</a>
    <script>setTimeout(function(){location.reload();},1000);</script>
            </font>
</body>
</html>
